body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}
body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.button-whatsapp {
  position: fixed;
  right: 50px;
  bottom: 80px;
  border: 1px solid #4dc247;
  border-radius: 50px;
  width: 222px;
  height: 48px;
  background-color: #4dc247;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding-left: 7px;

  box-shadow: 0 0 0 0 rgba(77, 194, 71, 0.1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.font-copy {
  text-decoration: none;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("./assets/img/1.jpeg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("./assets/img/1.jpeg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("./assets/img/13.jpeg");
  min-height: 400px;
}

.banner {
  white-space: nowrap;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 50px;
}

.background {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

.banner-text {
  font-size: 50px !important;
}

.w3-bar {
  color: white;
  font-size: 22px;
}

.w3-button:hover {
  background-color: #6f5544 !important;
}

.w3-third {
  font-size: 24px;
}

.w3-padding-40 {
  padding: 40px 0 !important;
}

#gmap_canvas {
  width: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
